# Spark Digits Test Notebook

In [32]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

from sklearn import datasets
import pandas as pd

In [33]:
spark = SparkSession.builder.appName("digits").getOrCreate()
sc = spark.sparkContext

In [34]:
digits = datasets.load_digits()
data = pd.DataFrame(digits.data, columns=digits.feature_names)

In [36]:
X = spark.createDataFrame(data)
X.limit(2).toPandas()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0

In [37]:
X.describe().toPandas()

,summary,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,count,1797,1797,1797,1797,1797,1797,1797,1797,1797,...,1797,1797,1797,1797,1797,1797,1797,1797,1797,1797
1,mean,0.0,0.3038397328881469,5.204785754034502,11.835837506956038,11.848080133555927,5.781858653311074,1.3622704507512522,0.1296605453533667,0.005564830272676683,...,3.725097384529772,0.20645520311630494,5.564830272676684E-4,0.2793544796883695,5.557595993322204,12.089037284362828,11.80912632164719,6.764051196438508,2.0678909293266554,0.36449638286032277
2,stddev,0.0,0.9071920952507532,4.75482633966073,4.248841848260807,4.28738800696946,5.666417727450906,3.325775186071001,1.0373828570282284,0.09422155480814319,...,4.919406035223907,0.9844009177360413,0.023589892481053587,0.934301798313635,5.10301936991174,4.374694009948626,4.933947353357586,5.9006227119991035,4.09054788742014,1.8601217224980684
3,min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,max,0.0,8.0,16.0,16.0,16.0,16.0,16.0,15.0,2.0,...,16.0,13.0,1.0,9.0,16.0,16.0,16.0,16.0,16.0,16.0

In [38]:
X.count()

1797

In [39]:
X.groupby("pixel_0_0").count().show(5)

+---------+-----+
|pixel_0_0|count|
+---------+-----+
|      0.0| 1797|
+---------+-----+

In [40]:
X = X.withColumn("pixel_0_0", X.pixel_0_0.cast(IntegerType()))

In [43]:
X.limit(2).toPandas()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0